input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

body {
    padding-top: 6rem;
    background: #F8F8F8;
    background: linear-gradient(351deg, #F8F8F8 49%, rgba(20,92,140,1) 49%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.topo {
    position: fixed;
    left: 0pt;
    top: 0pt;
    z-index: -1;
}

.principal {
    margin-top: 50pt;
}

.bg-primary {
    background-color: rgba(20,92,140,1)  !important;
}
.btn-primary{
    background-color: rgba(20,92,140,1)  !important;    
}

.btn{
  width: 11rem;
}

@media only screen and (max-width: 600px) {
    .container {
        padding-left: 2pt;
        padding-right: 2pt;
    }
}
